#navbar a{
    font-family:'ZCOOL QingKe HuangYou', cursive; 
    font-weight: 200;
    color: black;
    font-size: 2rem;
}

body {
  height: 100%;
}
 html{ 
   height: 100%; 
 }
.bg {
   background-color: #ECECEC ;
   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .layout-social .layout-icon{
    font-size: 3em;
 }  

.mainpage .opening h1{
    margin: 5%;
    font-size: 5rem;
    text-align: center;
    font-family: 'Coiny', cursive;
    padding-top: 1rem;
    color: #B39CDF;
}
.mainpage .opening h2{
    margin:1%,20%,20%,20%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color:#848797;
}
